#pgcolor {
	background-color: #000;
	margin: -26px -9px 0px -9px;
}

#sectioncolortwo {
	background-color: #fff;
	margin: -8px -8px 0px -8px;
}

#socialjump {
	background-color: #fff;
	margin: -481px -8px 0px 72px;
	border-style: solid;
	border-width: 1px;

}

.top {
	display: block;
	margin: 0 auto;
	max-width: 1280px;
	min-height: 425px;
	padding: 2em 0 0;
}

#pad, #hope, #mission { 
	background-image: "file:///Users/jmiramant/Dropbox/Marketing/Josh/Corporate%20Site/FLM/assets/gradient.png";
	background-repeat: repeat-y;
	background-size: 100% 100%;
	padding: 10px 0px 56px 0px;
	min-height: 550px;
}

/* Left Social CSS 
.socialleft {
	position: relative;
	left: 1368px;
	width: 1400px;

}

 End: Left Social CSS */
#outer {
	order-left: 26px transparent solid;
	border-right: 26px transparent solid;
	max-width: 928px;
	height: 620px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font: 300 64px 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#ddd 0%,#9c9c9c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin:  0 .1em;
	text-align: center;
	position: relative;

}

h2 {

	text-align: center;
	font: 300 2.6em/1.25em 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#8C8C8C 0%,#4D4D4D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: .5em 0 .1em;
	text-align: center;
	position: relative;

}


p {
	text-align: center;
	font-family: 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#ddd 0%,#9c9c9c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px; 
	
}

.computer {
	width: 100%;
	position: relative;
}

#screens {
	height: 71.8535%;
	width: 67.8161%;
	position: absolute;
	top: 5.7208%;
	left: 16.5229%;
	/*overflow: hidden;*/
}
 /* Funnel Bar */
.rightbar {
	width: 40%;
	float: right;
}

.jmoney {
	list-style-type: none;
}

#app-zippy .goog-zippy-expanded {
border-top: 2px solid #369bcd;

}

#app-zippy .app-title {
background-color: #1a1a1a;
background-image: -moz-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: -webkit-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: -o-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: -ms-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
outline: transparent;
padding: 1em 1.5em .5em;
position: relative;
text-align: left;
}

h3 {
	text-align: center;
	font: 300 2em/1.25em 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#8C8C8C 0%,#4D4D4D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0 .1em;
	text-align: center;
	position: relative;
}

.app-icon {
	background: url(file:///Users/jmiramant/Dropbox/Marketing/Josh/Corporate%20Site/FLM/assets/sprite.png) no-repeat;
	display: block;
	height: 32px;
	left: 0;
	position: absolute;
	width: 35px;
	background-size: 33px;
	top: 3px;
}

#app-icon-bank {
background-position: 0 -67px;
}

#app-icon-teachers {
background-position: 0 0px;
}

#app-icon-he {
background-position: 0 -32px;
}

.smooth {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

 /* End of Funnel Bar */

#white {
	margin-top: 57px;
	padding: .5em 20%;
	text-align: center;
	font-family: 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#8C8C8C 0%,#4D4D4D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px; 
}

.intro {
	margin: 34px 0px 34px 0px;
}

.jump {
	height: 58px;
	position: relative;
	text-align: center;
	margin: -35px 0;
	width: 100%;
	z-index: 1000;
}

.down_arrow {
	height: 56px;
	width: 56px;
	background: url(file:///Users/jmiramant/Dropbox/Marketing/Josh/Corporate%20Site/FLM/assets/down-arrow-icon.png) no-repeat;
	background-size: 46px 46px;
	display: inline-block;
	margin: 0 auto;
}

.down_arrow_top {
	height: 56px;
	width: 56px;
	background: url(file:///Users/jmiramant/Dropbox/Marketing/Josh/Corporate%20Site/FLM/assets/down-arrow-icon.png) no-repeat;
	background-size: 46px 46px;
	display: inline-block;
	margin: 22px;
}

.centering img {
	margin-left: 183px;
}

/******* START OF NAV BUTTONS (http://tympanus.net/codrops/2012/01/30/page-transitions-with-css3/)*******/

#main{
	margin:13px 0px 0px -29px;
	position:fixed;
	width:40px;
}



#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Open-Sans',Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:400;
	letter-spacing:1px;
	white-space:nowrap;
	line-height:39px;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#navigationMenu a{
	background:url('file:///Users/jmiramant/Dropbox/Marketing/Josh/Corporate%20Site/FLM/assets/Nav%20Icons/nav_sprite.jpg') no-repeat;
	height:40px;
	width:40px;
	display:block;
	position:relative;
}

/* General hover styles */

#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
	
	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

#navigationMenu .home {	background-position:-46px 0;}
#navigationMenu .home:hover {	background-position:0 -39px;}
#navigationMenu .home span{
	background-color:#E45F02;
	color:#fff;
	text-shadow:1px 1px 0 #C4C4C4;
}

/* Blue Button */

#navigationMenu .about { background-position:0px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
	background-color:#F5E436;
	color:#fff;
	text-shadow:1px 1px 0 #C4C4C4;
}

/* Orange Button */

#navigationMenu .services { background-position:-176px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
	background-color:#41EC84;
	color:#fff;
	text-shadow:1px 1px 0 #C4C4C4;
}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-132px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
	background-color:#EA3100;
	color:#fff;
	text-shadow:1px 1px 0 #C4C4C4 ;
}

/* Purple Button */

#navigationMenu .contact { background-position:-90px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
	background-color:#3883FF;
	color:#fff;
	text-shadow:1px 1px 0 #C4C4C4;
}

/**
#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
	position: fixed;
	opacity: 0.5;

}

#navigation a{
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	text-decoration:none;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
	font-family: "Open-Sans", sans-serif;
}
#navigation a:hover {
	background: #ddd;
}

#home:target ~ #navigation #link-home,
#school:target ~ #navigation #link-portfolio,
#company:target ~ #navigation #link-about,
#he:target ~ #navigation #link-contact{
	background: #000;
	color: #fff;
}
**/

/******* START ROUND OF NAV BUTTONS (http://tympanus.net/codrops/2012/08/08/circle-hover-effects-with-css-transitions/)*******/

img .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.ch-img-1 { 
    background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/1.jpg);
}

.ch-grid {
    margin: 0 343px 0 0;
    list-style: none;
    display: block;
    text-align: right;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}

/******* START OF CONVERSION PAGES *******/
.company_length, .school_length, .he_lenght {
	display: block;
	margin: 0 auto;
	max-width: 1280px;
	padding: 2em 0 0;
}



	/* SCHOOL CONVERSION PAGE */
.school_length {
	min-height: 1000px;
}

#school_color {
	background-color: #F8D856;
	margin: -26px -9px 0px -9px;
}


	/* COMPANY CONVERSION PAGE */
.company_length {
	min-height: 1000px;
}

#company_color {
	background-color: #DF551E;
	margin: -26px -9px 0px -9px;
}


	/* HIGHER EDUCATION CONVERSION PAGE */
.he_length {
	min-height: 1000px;
}

#he_color {
	background-color: #36AC9A;
	margin: -26px -9px 0px -9px;
}



.divider img {
	width: 100%;
	margin: -18px 0px 5px 9px;

}






