#pgcolor {
	background-color: #000;
	margin: -8px -8px 0px -8px;
}

#sectioncolortwo {
	background-color: #fff;
	margin: -8px -8px 0px -8px;
}

section {
	display: block;
	margin: 0 auto;
	max-width: 1280px;
	min-height: 425px;
	padding: 2em 0 0;
}

#pad, #hope, #mission { 
	background-image: "file:///Users/jmiramant/Dropbox/Marketing/Josh/Corporate%20Site/FLM/assets/gradient.png";
	background-repeat: repeat-y;
	background-size: 100% 100%;
}

#outer {
	order-left: 26px transparent solid;
	border-right: 26px transparent solid;
	max-width: 928px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font: 300 3.6em/1.25em 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#ddd 0%,#9c9c9c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin:  0 .1em;
	text-align: center;
	position: relative;

}

h2 {

	text-align: center;
	font: 300 2.6em/1.25em 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#8C8C8C 0%,#4D4D4D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: .5em 0 .1em;
	text-align: center;
	position: relative;

}


p {
	text-align: center;
	font-family: 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#ddd 0%,#9c9c9c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px; 
	
}

.computer {
	width: 100%;
	position: relative;
}

#screens {
	height: 71.8535%;
	width: 67.8161%;
	position: absolute;
	top: 5.7208%;
	left: 16.5229%;
	overflow: hidden;
}
 /* Funnel Bar */
.rightbar {
	width: 40%;
	float: right;
}

.jmoney {
	list-style-type: none;
}

#app-zippy .goog-zippy-expanded {
border-top: 2px solid #369bcd;

}

#app-zippy .app-title {
background-color: #1a1a1a;
background-image: -moz-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: -webkit-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: -o-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: -ms-linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
background-image: linear-gradient(top,#2c2c2c 0,#171717 40%,#1a1a1a 100%);
outline: transparent;
padding: 1em 1.5em .5em;
position: relative;
text-align: left;
}

h3 {
	text-align: center;
	font: 300 2em/1.25em 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#8C8C8C 0%,#4D4D4D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0 .1em;
	text-align: center;
	position: relative;
}


 /* End of Funnel Bar */

#white {
	margin-top: 57px;
	padding: .5em 20%;
	text-align: center;
	font-family: 'Open Sans',arial,sans-serif;
	background: -webkit-linear-gradient(top,#8C8C8C 0%,#4D4D4D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px; 
}

.intro {
	margin-top: 57px;
	padding: .5em 20%;
}

.jump {
	height: 46px;
	position: relative;
	text-align: center;
	margin: -23px 0;
	width: 100%;
	z-index: 1000;
}

.down_arrow {
	height: 56px;
	width: 56px;
	background: url(file:///Users/jmiramant/Dropbox/Marketing/Josh/Corporate%20Site/FLM/assets/down-arrow-icon.png) no-repeat;
	background-size: 46px 46px;
	display: inline-block;
	margin: 0 auto;
}